<div class="container mx-auto px-4 py-8">
  <%= render "application/flash" %>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Chat with the Bot</h1>

    <div class="mb-4 overflow-y-auto h-64 border border-gray-300 rounded p-4">
      <% @candidate.messages.each do |message| %>
        <div id="chat-history" class="mb-2 text-left">
          <% if message.assistant? %>
            <span class="text-blue-700 font-bold">Fernanda Bot:</span>
            <span class="text-gray-700"><%= message.content %></span>
          <% else %>
            <span class="text-green-700 font-bold">You:</span>
            <span class="text-gray-700"><%= message.content %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= form_with model:@message, url: chat_path(@candidate), method: :post, local: true, class: "flex items-center" do |form| %>
      <div class="flex-grow mr-4">
        <%= form.text_field :content, placeholder: "Type your message...", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div>
        <%= form.submit "Send", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>
